@import '../../../../styles/variables.scss';

.this__day {
    margin-top: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    svg{
        width: 119px;
        height: 119px;
    }
    .this__temp {
        font-size: 95px;
        font-weight: 500;
        color: $primary-color;
    }
}

.this__day_name {
    font-weight: 400;
    font-size: 40px;
    color: var(#{--text-color-default});
}

.bottom__block {
    .this__time,
    .this__city {
        color: $base-color;
        font-size: 25px;
    }
}

@media (max-width: 906px) {
    .this__day {
        max-width: 350px;
    }
}


@media (max-width: 802px) {
    .this__day {
        max-width: 300px;
    }
}

@media (max-width: 450px) {
    .this__day {
        max-width: 100%;
    }
    .wrapper{
        width: 100%;
    }
    .this__day_name{ 
        font-weight: 400;
        font-size: 25px;
        color: var(#{--text-color-default});
    }
    .top__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        svg{
            width: 100px;
            height: 100px;
        }
        .this__temp {
            font-size: 60px;
            font-weight: 500;
            color: $primary-color;
        }
    }
    .this__temp_number {
        font-size: 50px;
    }
    .svg{
        width: 50px;
        height: 50px;
    }
}